# VE
venv/
.venv/
env/

# editor config
.vscode/
*.code-workspace

# Python cache
__pycache__/
*.pkl
*.pyc
*.pyo

# big files
*.mp4
*.avi
*.mov
*.pt
*.onnx

# statistics
data/stats/*.csv

# system files
.DS_Store

# cache form tests
.pytest_cache/

# data
data/

# runs
runs/

# YOLO models
*.pt

# exception: our models
!models/*.pt